<div class="_v_header-com_lock">
    <div class="container <%= visible ? '' : 'disable' %> <%= visible && lock ? 'locked' : '' %>">
        <i></i>
        <div class="title">锁定</div>
    </div>
</div>